
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="/Home/WelcomeMat" method="get">
    <br />
    User Name:<input type="text" name="UserName" /><br />
    Email:<input type="email" name="Email" /><br />
    Password:<input type="password" name="Password" /><br />
    PersonalWeb:<input type="url" name="PersonalWeb" />(Must start w/ http://www.)<br />
    Phone Number:<input type="tel" name="digitz" /><br />
    <input type="submit" value="Register Now!" />
</form>
    Favorite Colour:<input type="color" name="Colour" /><br />

